<?php
$i = $_GET['i'];

// Find autoload.php
if (file_exists(__DIR__ . '/../vendor/autoload.php')) {
    require __DIR__ . '/../vendor/autoload.php';
} elseif (file_exists(__DIR__ . '/vendor/autoload.php')) {
    require __DIR__ . '/vendor/autoload.php';
} else {
    header('HTTP/1.1 500 Internal Server Error');
    echo "autoload.php not found";
    exit(1);
}

use WebPConvert\WebPConvert;

$source = __DIR__ . '/assets/'.$i;
$destination = $source . '.webp';
$options = [
    'fail' => 'original',
    'convert' => [
        'png' => [
            'quality' => 95
        ]
    ],
    'redirect-to-self-instead-of-serving' => true
];
WebPConvert::serveConverted($source, $destination, $options);
